
@page "/_Admin/AmazonUserInfo/BatchEdit"
@using AmazonTools.ViewModel._Admin.AmazonUserInfoVMs
@using System.ComponentModel.DataAnnotations
@inherits BasePage

<ValidateForm @ref="vform" Model="@Model" OnValidSubmit="@Submit">
  <div style="margin-bottom:10px;"> @WtmBlazor.Localizer["Sys.BatchEditConfirm"]</div>
  <Row ItemsPerRow="ItemsPerRow.Two" RowType="RowType.Normal">
    <BootstrapInput @bind-Value="@Model.LinkedVM.FaUserNameCn"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.FaUserNameUs"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.FaIdCard"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.FaBornTime"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.FaEndTime"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.LicenseCn"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.LicenseUs"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.LicenseCode"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.License"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.MailingAddress"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.MailingZipCode"/>
    <Select @bind-Value="@Model.LinkedVM.BelongingName" Id="gd2432000a6794baabd3eb710305b33f5"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.LicenseAddress"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.LicenseZipCode"/>
  </Row>

  <div class="modal-footer table-modal-footer">
    <Button ButtonType="ButtonType.Submit" IsAsync="true" Text="@WtmBlazor.Localizer["Sys.Submit"]"/>
    <Button OnClick="OnClose" Text="@WtmBlazor.Localizer["Sys.Close"]"/>
  </div>

</ValidateForm>



@code {
    [Parameter]
    public string id { get; set; }
    [Parameter]
    public string[] ids { get; set; }
    private AmazonUserInfoBatchVM Model = new AmazonUserInfoBatchVM();
    private ValidateForm vform { get; set; }
    
    private async Task Submit(EditContext context)
    {
        Model.Ids = ids;
        await PostsForm(vform, "/api/_Admin/AmazonUserInfo/BatchEdit", (s) => WtmBlazor.Localizer["Sys.BatchEditSuccess", s], method: HttpMethodEnum.POST);
    }
            

    public void OnClose()
    {
        CloseDialog();
    }
    
    protected override async Task OnInitializedAsync()
    {
        
        

        await base.OnInitializedAsync();
    }
}
