
@page "/_Admin/AmazonUserInfo/Edit"
@using AmazonTools.ViewModel._Admin.AmazonUserInfoVMs
@using System.ComponentModel.DataAnnotations
@inherits BasePage

<div>
  <ValidateForm @ref="vform" Model="@Model" OnValidSubmit="@Submit" >
    <Row ItemsPerRow="ItemsPerRow.Two" RowType="RowType.Normal">
      <BootstrapInput @bind-Value="@Model.Entity.FaUserNameCn"/>
      <BootstrapInput @bind-Value="@Model.Entity.FaUserNameUs"/>
      <BootstrapInput @bind-Value="@Model.Entity.FaIdCard"/>
      <BootstrapInput @bind-Value="@Model.Entity.FaBornTime"/>
      <BootstrapInput @bind-Value="@Model.Entity.FaEndTime"/>
      <BootstrapInput @bind-Value="@Model.Entity.LicenseCn"/>
      <BootstrapInput @bind-Value="@Model.Entity.LicenseUs"/>
      <BootstrapInput @bind-Value="@Model.Entity.LicenseCode"/>
      <WTUploadFile @bind-Value="@Model.Entity.LicensePhotoId"/>
      <WTUploadFile @bind-Value="@Model.Entity.IDCardPhotoZId"/>
      <WTUploadFile @bind-Value="@Model.Entity.IDCardPhotoFId"/>
      <BootstrapInput @bind-Value="@Model.Entity.License"/>
      <BootstrapInput @bind-Value="@Model.Entity.MailingAddress"/>
      <BootstrapInput @bind-Value="@Model.Entity.MailingZipCode"/>
      <Select @bind-Value="@Model.Entity.BelongingName" PlaceHolder="@WtmBlazor.Localizer["Sys.PleaseSelect"]" Id="ge3bd8c356a2c4e65861f0cb59c5e5afd"/>
      <BootstrapInput @bind-Value="@Model.Entity.LicenseAddress"/>
      <BootstrapInput @bind-Value="@Model.Entity.LicenseZipCode"/>
    </Row>

    <div class="modal-footer table-modal-footer">
      <Button ButtonType="ButtonType.Submit" IsAsync="true" Text="@WtmBlazor.Localizer["Sys.Submit"]"/>
      <Button OnClick="OnClose" Text="@WtmBlazor.Localizer["Sys.Close"]"/>
    </div>

  </ValidateForm>

</div>



@code {
    [Parameter]
    public string id { get; set; }
    [Parameter]
    public string[] ids { get; set; }
    private AmazonUserInfoVM Model = new AmazonUserInfoVM();
    private ValidateForm vform { get; set; }
    private async Task Submit(EditContext context)
    {
                        
        
        await PostsForm(vform, "/api/_Admin/AmazonUserInfo/Edit", (s) => "Sys.OprationSuccess", method: HttpMethodEnum.PUT);
    }
    public void OnClose()
    {
        CloseDialog();
    }
    
    protected override async Task OnInitializedAsync()
    {
        
        
        if (id != "")
        {
            var rv = await WtmBlazor.Api.CallAPI<AmazonUserInfoVM>($"/api/_Admin/AmazonUserInfo/{id}");
            Model = rv.Data;
        }

        await base.OnInitializedAsync();
    }
}
