
@page "/_Admin/AmazonUserInfo/Index"
@using AmazonTools.ViewModel._Admin.AmazonUserInfoVMs
@using System.ComponentModel.DataAnnotations
@inherits BasePage
@attribute [ActionDescription("_Page._Admin.AmazonUserInfo.Index", "AmazonTools._Admin.Controllers,AmazonUserInfo")]

<WTSearchPanel OnSearch="@AmazonUserInfoListVMDoSearch">
  <ValidateForm Model="@Model">
    <Row ItemsPerRow="ItemsPerRow.Three" RowType="RowType.Inline">
      <BootstrapInput @bind-Value="@Model.Searcher.FaUserNameCn"/>
      <BootstrapInput @bind-Value="@Model.Searcher.FaUserNameUs"/>
      <BootstrapInput @bind-Value="@Model.Searcher.FaIdCard"/>
      <BootstrapInput @bind-Value="@Model.Searcher.FaBornTime"/>
      <BootstrapInput @bind-Value="@Model.Searcher.FaEndTime"/>
      <BootstrapInput @bind-Value="@Model.Searcher.LicenseCn"/>
      <BootstrapInput @bind-Value="@Model.Searcher.LicenseUs"/>
      <BootstrapInput @bind-Value="@Model.Searcher.LicenseCode"/>
      <BootstrapInput @bind-Value="@Model.Searcher.License"/>
      <BootstrapInput @bind-Value="@Model.Searcher.MailingAddress"/>
      <BootstrapInput @bind-Value="@Model.Searcher.MailingZipCode"/>
      <Select @bind-Value="@Model.Searcher.BelongingName" PlaceHolder="@WtmBlazor.Localizer["Sys.All"]" Id="g54ac5fa96bcb423fa9e8980679572700"/>
      <BootstrapInput @bind-Value="@Model.Searcher.LicenseAddress"/>
      <BootstrapInput @bind-Value="@Model.Searcher.LicenseZipCode"/>
      <WTDateRange @bind-Value="@Model.Searcher.CreateTime"/>
      <WTDateRange @bind-Value="@Model.Searcher.UpdateTime"/>
      <BootstrapInput @bind-Value="@Model.Searcher.CreateBy"/>
      <BootstrapInput @bind-Value="@Model.Searcher.UpdateBy"/>
    </Row>

  </ValidateForm>
</WTSearchPanel>


<Table @ref="AmazonUserInfoListVMdataTable" TItem="AmazonTools.ViewModel._Admin.AmazonUserInfoVMs.AmazonUserInfo_View" OnQueryAsync="AmazonUserInfoListVMOnSearchAmazonUserInfo" 
                IsStriped="true" IsBordered="true" ShowRefresh="false" ShowExtendEditButton="false" ShowExtendDeleteButton="false" 
                ShowToolbar="true" IsMultipleSelect="true" ShowExtendButtons="true"
                ShowDefaultButtons="false" IsPagination="true">
  <TableColumns>
    <TableColumn @bind-Field="@context.AmazonUserInfo_FaUserNameCn" Text="@WtmBlazor.Localizer["Page.姓名中文"]" />
    <TableColumn @bind-Field="@context.AmazonUserInfo_FaUserNameUs" Text="@WtmBlazor.Localizer["Page.姓名拼音"]" />
    <TableColumn @bind-Field="@context.AmazonUserInfo_FaIdCard" Text="@WtmBlazor.Localizer["Page.身份证"]" />
    <TableColumn @bind-Field="@context.AmazonUserInfo_FaBornTime" Text="@WtmBlazor.Localizer["Page.出生时间"]" />
    <TableColumn @bind-Field="@context.AmazonUserInfo_FaEndTime" Text="@WtmBlazor.Localizer["Page.有效时间"]" />
    <TableColumn @bind-Field="@context.AmazonUserInfo_LicenseCn" Text="@WtmBlazor.Localizer["Page.执照中文"]" />
    <TableColumn @bind-Field="@context.AmazonUserInfo_LicenseUs" Text="@WtmBlazor.Localizer["Page.执照拼音"]" />
    <TableColumn @bind-Field="@context.AmazonUserInfo_LicenseCode" Text="@WtmBlazor.Localizer["Page.执照代码"]" />
    <TableColumn @bind-Field="@context.AmazonUserInfo_License" Text="@WtmBlazor.Localizer["Page.执照时间"]" />
    <TableColumn @bind-Field="@context.AmazonUserInfo_MailingAddress" Text="@WtmBlazor.Localizer["Page.邮寄地址"]" />
    <TableColumn @bind-Field="@context.AmazonUserInfo_MailingZipCode" Text="@WtmBlazor.Localizer["Page.邮寄邮编"]" />
    <TableColumn @bind-Field="@context.AmazonUserInfo_BelongingName" Text="@WtmBlazor.Localizer["Page.代理"]" />
    <TableColumn @bind-Field="@context.AmazonUserInfo_LicenseAddress" Text="@WtmBlazor.Localizer["Page.营业执照地址"]" />
    <TableColumn @bind-Field="@context.AmazonUserInfo_LicenseZipCode" Text="@WtmBlazor.Localizer["Page.营业执照邮编"]" />
    <TableColumn @bind-Field="@context.AmazonUserInfo_CreateTime" Text="@WtmBlazor.Localizer["_Admin.CreateTime"]" />
    <TableColumn @bind-Field="@context.AmazonUserInfo_UpdateTime" Text="@WtmBlazor.Localizer["_Admin.UpdateTime"]" />
    <TableColumn @bind-Field="@context.AmazonUserInfo_CreateBy" Text="@WtmBlazor.Localizer["_Admin.CreateBy"]" />
    <TableColumn @bind-Field="@context.AmazonUserInfo_UpdateBy" Text="@WtmBlazor.Localizer["_Admin.UpdateBy"]" />
  </TableColumns>

  <RowButtonTemplate>
    @if (IsAccessable("/api/_Admin/AmazonUserInfo/Edit"))
    {
        <TableCellButton Size="Size.ExtraSmall" Icon="fa fa-pencil-square" Color="Color.Warning" Text="@WtmBlazor.Localizer["Sys.Edit"]"  OnClick="()=>OnEditClick(context)" />
    }
    @if (IsAccessable("/api/_Admin/AmazonUserInfo/{id}"))
    {
        <TableCellButton Size="Size.ExtraSmall" Icon="fa fa-info-circle" Color="Color.Info" Text="@WtmBlazor.Localizer["Page.详情"]"  OnClick="()=>OnDetailsClick(context)" />
    }
    @if (IsAccessable("/api/_Admin/AmazonUserInfo/BatchDelete"))
    {
        <PopConfirmButton OnConfirm="() => OnDeleteClick(context)" Size="Size.ExtraSmall" Icon="fa fa-trash" Color="Color.Danger" Text="@WtmBlazor.Localizer["Sys.Delete"]" Content="@WtmBlazor.Localizer["Sys.DeleteConfirm"]" CloseButtonText="@WtmBlazor.Localizer["Sys.Close"]" ConfirmButtonText="@WtmBlazor.Localizer["Sys.Delete"]" 
            ConfirmButtonColor="Color.Danger" />
    }
  </RowButtonTemplate>
  <TableToolbarTemplate>
    @if (IsAccessable("/api/_Admin/AmazonUserInfo/Create"))
    {
        <TableToolbarButton TItem="AmazonTools.ViewModel._Admin.AmazonUserInfoVMs.AmazonUserInfo_View" Icon="fa fa-plus" Color="Color.Primary" Text="@WtmBlazor.Localizer["Sys.Create"]"  OnClickCallback="(x)=>OnCreateClick()" />
    }
    @if (IsAccessable("/api/_Admin/AmazonUserInfo/BatchDelete"))
    {
        <TableToolbarPopConfirmButton TItem="AmazonTools.ViewModel._Admin.AmazonUserInfoVMs.AmazonUserInfo_View"
             Icon="fa fa-trash" Color="Color.Danger" Text="@WtmBlazor.Localizer["Sys.Delete"]" Content="@WtmBlazor.Localizer["Sys.BatchDeleteConfirm"]" CloseButtonText="@WtmBlazor.Localizer["Sys.Close"]" ConfirmButtonText="@WtmBlazor.Localizer["Sys.BatchDelete"]" 
            OnConfirm="@OnBatchDeleteClick" ConfirmButtonColor="Color.Danger"/>
    }
    @if (IsAccessable("/api/_Admin/AmazonUserInfo/BatchEdit"))
    {
        <TableToolbarButton TItem="AmazonTools.ViewModel._Admin.AmazonUserInfoVMs.AmazonUserInfo_View" Icon="fa fa-pencil-square" Color="Color.Primary" Text="@WtmBlazor.Localizer["Sys.BatchEdit"]"  OnClickCallback="(x)=>OnBatchEditClick()" />
    }
    @if (IsAccessable("/api/_Admin/AmazonUserInfo/Import"))
    {
        <TableToolbarButton TItem="AmazonTools.ViewModel._Admin.AmazonUserInfoVMs.AmazonUserInfo_View" Icon="fa fa-tasks" Color="Color.Primary" Text="@WtmBlazor.Localizer["Sys.Import"]"  OnClickCallback="(x)=>OnImportClick()" />
    }
    @if (IsAccessable("/api/_Admin/AmazonUserInfo/AmazonUserInfoExportExcel"))
    {
        <TableToolbarButton TItem="AmazonTools.ViewModel._Admin.AmazonUserInfoVMs.AmazonUserInfo_View" Icon="fa fa-arrow-circle-down" Color="Color.Primary" Text="@WtmBlazor.Localizer["Sys.Export"]" OnClickCallback="(x)=>OnExportClick()" IsAsync="true" />
    }
  </TableToolbarTemplate>

</Table>



@code {
    [Parameter]
    public string id { get; set; }
    [Parameter]
    public string[] ids { get; set; }
    private AmazonUserInfoListVM Model = new AmazonUserInfoListVM();
    private Table<AmazonTools.ViewModel._Admin.AmazonUserInfoVMs.AmazonUserInfo_View> AmazonUserInfoListVMdataTable;
    private async Task AmazonUserInfoListVMDoSearch()
    {
        await AmazonUserInfoListVMdataTable.QueryAsync();
    }
    private async Task<QueryData<AmazonTools.ViewModel._Admin.AmazonUserInfoVMs.AmazonUserInfo_View>> AmazonUserInfoListVMOnSearchAmazonUserInfo(QueryPageOptions opts)
    {
            
        return await StartSearch<AmazonTools.ViewModel._Admin.AmazonUserInfoVMs.AmazonUserInfo_View>("/api/_Admin/AmazonUserInfo/SearchAmazonUserInfo", Model.Searcher, opts);
    }
    private async Task OnCreateClick()
    {
        var id = AmazonUserInfoListVMdataTable.SelectedRows?.Select(x => x.ID.ToString())?.FirstOrDefault();
        if (await OpenDialog<Create>(@WtmBlazor.Localizer["Sys.Create"], x => x.id == (id ?? ""), isMax:false) == DialogResult.Yes)
        {
            await AmazonUserInfoListVMdataTable.QueryAsync();
        }
    }

    private async Task OnEditClick(AmazonTools.ViewModel._Admin.AmazonUserInfoVMs.AmazonUserInfo_View item)
    {
        if (await OpenDialog<Edit>(@WtmBlazor.Localizer["Sys.Edit"], x => x.id == item.ID.ToString(), isMax:false) == DialogResult.Yes)
        {
            await AmazonUserInfoListVMdataTable.QueryAsync();
        }
    }

    private async Task OnDetailsClick(AmazonTools.ViewModel._Admin.AmazonUserInfoVMs.AmazonUserInfo_View item)
    {
        if (await OpenDialog<Details>(@WtmBlazor.Localizer["Page.详情"], x => x.id == item.ID.ToString(), isMax:false) == DialogResult.Yes)
        {
            await AmazonUserInfoListVMdataTable.QueryAsync();
        }
    }

    private async Task OnDeleteClick(AmazonTools.ViewModel._Admin.AmazonUserInfoVMs.AmazonUserInfo_View item)
    {
        await PostsData(new List<string> { item.ID.ToString() }, $"/api/_Admin/AmazonUserInfo/batchdelete", (s) => "Sys.OprationSuccess");
        await AmazonUserInfoListVMdataTable.QueryAsync();
    }

    private async Task OnBatchDeleteClick()
    {
        if (AmazonUserInfoListVMdataTable.SelectedRows?.Any() == true)
        {
            await PostsData(AmazonUserInfoListVMdataTable.SelectedRows.Select(x => x.ID.ToString()).ToList(), $"/api/_Admin/AmazonUserInfo/batchdelete", (s) => WtmBlazor.Localizer["Sys.BatchDeleteSuccess", s]);
            await AmazonUserInfoListVMdataTable.QueryAsync();
        }
        else
        {
            await WtmBlazor.Toast.Information(WtmBlazor.Localizer["Sys.Info"], WtmBlazor.Localizer["Sys.SelectOneRowMin"]);
        }
    }

    private async Task OnBatchEditClick()
    {
        if (AmazonUserInfoListVMdataTable.SelectedRows?.Any() == true)
        {
            if (await OpenDialog<BatchEdit>(WtmBlazor.Localizer["Sys.BatchEdit"], x => x.ids == AmazonUserInfoListVMdataTable.SelectedRows.Select(x => x.ID.ToString()).ToArray(), isMax:false) == DialogResult.Yes)
            {
                await AmazonUserInfoListVMdataTable.QueryAsync();
            }
        }
        else
        {
            await WtmBlazor.Toast.Information(WtmBlazor.Localizer["Sys.Info"], WtmBlazor.Localizer["Sys.SelectOneRowMin"]);
        }
    }

    private async Task OnImportClick()
    {
        var id = AmazonUserInfoListVMdataTable.SelectedRows?.Select(x => x.ID.ToString())?.FirstOrDefault();
        if (await OpenDialog<Import>(@WtmBlazor.Localizer["Sys.Import"], x => x.id == (id ?? ""), isMax:false) == DialogResult.Yes)
        {
            await AmazonUserInfoListVMdataTable.QueryAsync();
        }
    }

    private async Task OnExportClick()
    {
        if (AmazonUserInfoListVMdataTable.SelectedRows?.Any() == true)
        {
            await Download("/api/_Admin/AmazonUserInfo/AmazonUserInfoExportExcelByIds", AmazonUserInfoListVMdataTable.SelectedRows.Select(x => x.ID.ToString()).ToList());
        }
        else
        {
            await Download("/api/_Admin/AmazonUserInfo/AmazonUserInfoExportExcel", Model.Searcher);
        }
    }

    
    protected override async Task OnInitializedAsync()
    {
        
        

        await base.OnInitializedAsync();
    }
}
