
@page "/_Admin/AmazonSiteInfo/BatchEdit"
@using AmazonTools.ViewModel._Admin.AmazonSiteInfoVMs
@using System.ComponentModel.DataAnnotations
@inherits BasePage

<ValidateForm @ref="vform" Model="@Model" OnValidSubmit="@Submit">
  <div style="margin-bottom:10px;"> @WtmBlazor.Localizer["Sys.BatchEditConfirm"]</div>
  <Row ItemsPerRow="ItemsPerRow.Two" RowType="RowType.Normal">
    <Select @bind-Value="@Model.LinkedVM.SiteName" Id="g4bc76119af5f4a9dbdd717ac1435f5df"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.Mail"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.MailPassWord"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.AccountPassWord"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.CreditCard"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.SecurityCode"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.ValidityPeriod"/>
    <BootstrapInput @bind-Value="@Model.LinkedVM.Phone"/>
    <Select @bind-Value="@Model.LinkedVM.AmazonState" Id="g3b56eda75ea94107bd48f2b011c40c82"/>
    <Select @bind-Value="@Model.LinkedVM.AmazonUserId" Items="AllAmazonUsers" Id="gc42b69139ea04f6fa97ece364758bd28"/>
  </Row>

  <div class="modal-footer table-modal-footer">
    <Button ButtonType="ButtonType.Submit" IsAsync="true" Text="@WtmBlazor.Localizer["Sys.Submit"]"/>
    <Button OnClick="OnClose" Text="@WtmBlazor.Localizer["Sys.Close"]"/>
  </div>

</ValidateForm>



@code {
    [Parameter]
    public string id { get; set; }
    [Parameter]
    public string[] ids { get; set; }
    private AmazonSiteInfoBatchVM Model = new AmazonSiteInfoBatchVM();
    private ValidateForm vform { get; set; }
    
    private async Task Submit(EditContext context)
    {
        Model.Ids = ids;
        await PostsForm(vform, "/api/_Admin/AmazonSiteInfo/BatchEdit", (s) => WtmBlazor.Localizer["Sys.BatchEditSuccess", s], method: HttpMethodEnum.POST);
    }
            

    public void OnClose()
    {
        CloseDialog();
    }
    
    private List<SelectedItem> AllAmazonUsers = new List<SelectedItem>();
    protected override async Task OnInitializedAsync()
    {
        
        
        AllAmazonUsers = await WtmBlazor.Api.CallItemsApi("/api/_Admin/AmazonSiteInfo/GetAmazonUserInfos");
        AllAmazonUsers.Insert(0, new SelectedItem { Text = WtmBlazor.Localizer["Sys.PleaseSelect"],Value = "" });

        await base.OnInitializedAsync();
    }
}
