
@page "/_Admin/AmazonSiteInfo/Index"
@using AmazonTools.ViewModel._Admin.AmazonSiteInfoVMs
@using System.ComponentModel.DataAnnotations
@inherits BasePage
@attribute [ActionDescription("_Page._Admin.AmazonSiteInfo.Index", "AmazonTools._Admin.Controllers,AmazonSiteInfo")]

<WTSearchPanel OnSearch="@AmazonSiteInfoListVMDoSearch">
  <ValidateForm Model="@Model">
    <Row ItemsPerRow="ItemsPerRow.Three" RowType="RowType.Inline">
      <Select @bind-Value="@Model.Searcher.SiteName" PlaceHolder="@WtmBlazor.Localizer["Sys.All"]" Id="g3e11459a5a614204af178fd587f245f1"/>
      <BootstrapInput @bind-Value="@Model.Searcher.Mail"/>
      <BootstrapInput @bind-Value="@Model.Searcher.MailPassWord"/>
      <BootstrapInput @bind-Value="@Model.Searcher.AccountPassWord"/>
      <BootstrapInput @bind-Value="@Model.Searcher.CreditCard"/>
      <BootstrapInput @bind-Value="@Model.Searcher.SecurityCode"/>
      <BootstrapInput @bind-Value="@Model.Searcher.ValidityPeriod"/>
      <BootstrapInput @bind-Value="@Model.Searcher.Phone"/>
      <Select @bind-Value="@Model.Searcher.AmazonState" PlaceHolder="@WtmBlazor.Localizer["Sys.All"]" Id="g247bb55744eb497cb48a709a6e23fa08"/>
      <Select @bind-Value="@Model.Searcher.AmazonUserId" Items="AllAmazonUsers" PlaceHolder="@WtmBlazor.Localizer["Sys.All"]" Id="g40ddaac9004544fe95857180dc95626e"/>
      <WTDateRange @bind-Value="@Model.Searcher.CreateTime"/>
      <WTDateRange @bind-Value="@Model.Searcher.UpdateTime"/>
      <BootstrapInput @bind-Value="@Model.Searcher.CreateBy"/>
      <BootstrapInput @bind-Value="@Model.Searcher.UpdateBy"/>
    </Row>

  </ValidateForm>
</WTSearchPanel>


<Table @ref="AmazonSiteInfoListVMdataTable" TItem="AmazonTools.ViewModel._Admin.AmazonSiteInfoVMs.AmazonSiteInfo_View" OnQueryAsync="AmazonSiteInfoListVMOnSearchAmazonSiteInfo" 
                IsStriped="true" IsBordered="true" ShowRefresh="false" ShowExtendEditButton="false" ShowExtendDeleteButton="false" 
                ShowToolbar="true" IsMultipleSelect="true" ShowExtendButtons="true"
                ShowDefaultButtons="false" IsPagination="true">
  <TableColumns>
    <TableColumn @bind-Field="@context.AmazonSiteInfo_SiteName" Text="@WtmBlazor.Localizer["Page.站点"]" />
    <TableColumn @bind-Field="@context.AmazonSiteInfo_Mail" Text="@WtmBlazor.Localizer["_Admin.Email"]" />
    <TableColumn @bind-Field="@context.AmazonSiteInfo_MailPassWord" Text="@WtmBlazor.Localizer["Page.邮箱密码"]" />
    <TableColumn @bind-Field="@context.AmazonSiteInfo_AccountPassWord" Text="@WtmBlazor.Localizer["Page.账户密码"]" />
    <TableColumn @bind-Field="@context.AmazonSiteInfo_CreditCard" Text="@WtmBlazor.Localizer["Page.信用卡"]" />
    <TableColumn @bind-Field="@context.AmazonSiteInfo_SecurityCode" Text="@WtmBlazor.Localizer["Page.安全码"]" />
    <TableColumn @bind-Field="@context.AmazonSiteInfo_ValidityPeriod" Text="@WtmBlazor.Localizer["_Admin.ValidDate"]" />
    <TableColumn @bind-Field="@context.AmazonSiteInfo_Phone" Text="@WtmBlazor.Localizer["Page.手机号"]" />
    <TableColumn @bind-Field="@context.AmazonSiteInfo_AmazonState" Text="@WtmBlazor.Localizer["Page.状态"]" />
    <TableColumn @bind-Field="@context.AmazonSiteInfo_AmazonUser" Text="@WtmBlazor.Localizer["Page.客户"]" />
    <TableColumn @bind-Field="@context.AmazonSiteInfo_CreateTime" Text="@WtmBlazor.Localizer["_Admin.CreateTime"]" />
    <TableColumn @bind-Field="@context.AmazonSiteInfo_UpdateTime" Text="@WtmBlazor.Localizer["_Admin.UpdateTime"]" />
    <TableColumn @bind-Field="@context.AmazonSiteInfo_CreateBy" Text="@WtmBlazor.Localizer["_Admin.CreateBy"]" />
    <TableColumn @bind-Field="@context.AmazonSiteInfo_UpdateBy" Text="@WtmBlazor.Localizer["_Admin.UpdateBy"]" />
  </TableColumns>

  <RowButtonTemplate>
    @if (IsAccessable("/api/_Admin/AmazonSiteInfo/Edit"))
    {
        <TableCellButton Size="Size.ExtraSmall" Icon="fa fa-pencil-square" Color="Color.Warning" Text="@WtmBlazor.Localizer["Sys.Edit"]"  OnClick="()=>OnEditClick(context)" />
    }
    @if (IsAccessable("/api/_Admin/AmazonSiteInfo/{id}"))
    {
        <TableCellButton Size="Size.ExtraSmall" Icon="fa fa-info-circle" Color="Color.Info" Text="@WtmBlazor.Localizer["Page.详情"]"  OnClick="()=>OnDetailsClick(context)" />
    }
    @if (IsAccessable("/api/_Admin/AmazonSiteInfo/BatchDelete"))
    {
        <PopConfirmButton OnConfirm="() => OnDeleteClick(context)" Size="Size.ExtraSmall" Icon="fa fa-trash" Color="Color.Danger" Text="@WtmBlazor.Localizer["Sys.Delete"]" Content="@WtmBlazor.Localizer["Sys.DeleteConfirm"]" CloseButtonText="@WtmBlazor.Localizer["Sys.Close"]" ConfirmButtonText="@WtmBlazor.Localizer["Sys.Delete"]" 
            ConfirmButtonColor="Color.Danger" />
    }
  </RowButtonTemplate>
  <TableToolbarTemplate>
    @if (IsAccessable("/api/_Admin/AmazonSiteInfo/Create"))
    {
        <TableToolbarButton TItem="AmazonTools.ViewModel._Admin.AmazonSiteInfoVMs.AmazonSiteInfo_View" Icon="fa fa-plus" Color="Color.Primary" Text="@WtmBlazor.Localizer["Sys.Create"]"  OnClickCallback="(x)=>OnCreateClick()" />
    }
    @if (IsAccessable("/api/_Admin/AmazonSiteInfo/BatchDelete"))
    {
        <TableToolbarPopConfirmButton TItem="AmazonTools.ViewModel._Admin.AmazonSiteInfoVMs.AmazonSiteInfo_View"
             Icon="fa fa-trash" Color="Color.Danger" Text="@WtmBlazor.Localizer["Sys.Delete"]" Content="@WtmBlazor.Localizer["Sys.BatchDeleteConfirm"]" CloseButtonText="@WtmBlazor.Localizer["Sys.Close"]" ConfirmButtonText="@WtmBlazor.Localizer["Sys.BatchDelete"]" 
            OnConfirm="@OnBatchDeleteClick" ConfirmButtonColor="Color.Danger"/>
    }
    @if (IsAccessable("/api/_Admin/AmazonSiteInfo/BatchEdit"))
    {
        <TableToolbarButton TItem="AmazonTools.ViewModel._Admin.AmazonSiteInfoVMs.AmazonSiteInfo_View" Icon="fa fa-pencil-square" Color="Color.Primary" Text="@WtmBlazor.Localizer["Sys.BatchEdit"]"  OnClickCallback="(x)=>OnBatchEditClick()" />
    }
    @if (IsAccessable("/api/_Admin/AmazonSiteInfo/Import"))
    {
        <TableToolbarButton TItem="AmazonTools.ViewModel._Admin.AmazonSiteInfoVMs.AmazonSiteInfo_View" Icon="fa fa-tasks" Color="Color.Primary" Text="@WtmBlazor.Localizer["Sys.Import"]"  OnClickCallback="(x)=>OnImportClick()" />
    }
    @if (IsAccessable("/api/_Admin/AmazonSiteInfo/AmazonSiteInfoExportExcel"))
    {
        <TableToolbarButton TItem="AmazonTools.ViewModel._Admin.AmazonSiteInfoVMs.AmazonSiteInfo_View" Icon="fa fa-arrow-circle-down" Color="Color.Primary" Text="@WtmBlazor.Localizer["Sys.Export"]" OnClickCallback="(x)=>OnExportClick()" IsAsync="true" />
    }
  </TableToolbarTemplate>

</Table>



@code {
    [Parameter]
    public string id { get; set; }
    [Parameter]
    public string[] ids { get; set; }
    private AmazonSiteInfoListVM Model = new AmazonSiteInfoListVM();
    private Table<AmazonTools.ViewModel._Admin.AmazonSiteInfoVMs.AmazonSiteInfo_View> AmazonSiteInfoListVMdataTable;
    private async Task AmazonSiteInfoListVMDoSearch()
    {
        await AmazonSiteInfoListVMdataTable.QueryAsync();
    }
    private async Task<QueryData<AmazonTools.ViewModel._Admin.AmazonSiteInfoVMs.AmazonSiteInfo_View>> AmazonSiteInfoListVMOnSearchAmazonSiteInfo(QueryPageOptions opts)
    {
            
        return await StartSearch<AmazonTools.ViewModel._Admin.AmazonSiteInfoVMs.AmazonSiteInfo_View>("/api/_Admin/AmazonSiteInfo/SearchAmazonSiteInfo", Model.Searcher, opts);
    }
    private async Task OnCreateClick()
    {
        var id = AmazonSiteInfoListVMdataTable.SelectedRows?.Select(x => x.ID.ToString())?.FirstOrDefault();
        if (await OpenDialog<Create>(@WtmBlazor.Localizer["Sys.Create"], x => x.id == (id ?? ""), isMax:false) == DialogResult.Yes)
        {
            await AmazonSiteInfoListVMdataTable.QueryAsync();
        }
    }

    private async Task OnEditClick(AmazonTools.ViewModel._Admin.AmazonSiteInfoVMs.AmazonSiteInfo_View item)
    {
        if (await OpenDialog<Edit>(@WtmBlazor.Localizer["Sys.Edit"], x => x.id == item.ID.ToString(), isMax:false) == DialogResult.Yes)
        {
            await AmazonSiteInfoListVMdataTable.QueryAsync();
        }
    }

    private async Task OnDetailsClick(AmazonTools.ViewModel._Admin.AmazonSiteInfoVMs.AmazonSiteInfo_View item)
    {
        if (await OpenDialog<Details>(@WtmBlazor.Localizer["Page.详情"], x => x.id == item.ID.ToString(), isMax:false) == DialogResult.Yes)
        {
            await AmazonSiteInfoListVMdataTable.QueryAsync();
        }
    }

    private async Task OnDeleteClick(AmazonTools.ViewModel._Admin.AmazonSiteInfoVMs.AmazonSiteInfo_View item)
    {
        await PostsData(new List<string> { item.ID.ToString() }, $"/api/_Admin/AmazonSiteInfo/batchdelete", (s) => "Sys.OprationSuccess");
        await AmazonSiteInfoListVMdataTable.QueryAsync();
    }

    private async Task OnBatchDeleteClick()
    {
        if (AmazonSiteInfoListVMdataTable.SelectedRows?.Any() == true)
        {
            await PostsData(AmazonSiteInfoListVMdataTable.SelectedRows.Select(x => x.ID.ToString()).ToList(), $"/api/_Admin/AmazonSiteInfo/batchdelete", (s) => WtmBlazor.Localizer["Sys.BatchDeleteSuccess", s]);
            await AmazonSiteInfoListVMdataTable.QueryAsync();
        }
        else
        {
            await WtmBlazor.Toast.Information(WtmBlazor.Localizer["Sys.Info"], WtmBlazor.Localizer["Sys.SelectOneRowMin"]);
        }
    }

    private async Task OnBatchEditClick()
    {
        if (AmazonSiteInfoListVMdataTable.SelectedRows?.Any() == true)
        {
            if (await OpenDialog<BatchEdit>(WtmBlazor.Localizer["Sys.BatchEdit"], x => x.ids == AmazonSiteInfoListVMdataTable.SelectedRows.Select(x => x.ID.ToString()).ToArray(), isMax:false) == DialogResult.Yes)
            {
                await AmazonSiteInfoListVMdataTable.QueryAsync();
            }
        }
        else
        {
            await WtmBlazor.Toast.Information(WtmBlazor.Localizer["Sys.Info"], WtmBlazor.Localizer["Sys.SelectOneRowMin"]);
        }
    }

    private async Task OnImportClick()
    {
        var id = AmazonSiteInfoListVMdataTable.SelectedRows?.Select(x => x.ID.ToString())?.FirstOrDefault();
        if (await OpenDialog<Import>(@WtmBlazor.Localizer["Sys.Import"], x => x.id == (id ?? ""), isMax:false) == DialogResult.Yes)
        {
            await AmazonSiteInfoListVMdataTable.QueryAsync();
        }
    }

    private async Task OnExportClick()
    {
        if (AmazonSiteInfoListVMdataTable.SelectedRows?.Any() == true)
        {
            await Download("/api/_Admin/AmazonSiteInfo/AmazonSiteInfoExportExcelByIds", AmazonSiteInfoListVMdataTable.SelectedRows.Select(x => x.ID.ToString()).ToList());
        }
        else
        {
            await Download("/api/_Admin/AmazonSiteInfo/AmazonSiteInfoExportExcel", Model.Searcher);
        }
    }

    
    private List<SelectedItem> AllAmazonUsers = new List<SelectedItem>();
    protected override async Task OnInitializedAsync()
    {
        
        
        AllAmazonUsers = await WtmBlazor.Api.CallItemsApi("/api/_Admin/AmazonSiteInfo/GetAmazonUserInfos");
        AllAmazonUsers.Insert(0, new SelectedItem { Text = WtmBlazor.Localizer["Sys.PleaseSelect"],Value = "" });

        await base.OnInitializedAsync();
    }
}
