
@page "/_Admin/CreditCardManage/Index"
@using AmazonTools.ViewModel._Admin.CreditCardManageVMs
@using System.ComponentModel.DataAnnotations
@inherits BasePage
@attribute [ActionDescription("_Page._Admin.CreditCardManage.Index", "AmazonTools._Admin.Controllers,CreditCardManage")]

<WTSearchPanel OnSearch="@CreditCardManageListVMDoSearch">
  <ValidateForm Model="@Model">
    <Row ItemsPerRow="ItemsPerRow.Three" RowType="RowType.Inline">
      <BootstrapInput @bind-Value="@Model.Searcher.CreditCard"/>
      <BootstrapInput @bind-Value="@Model.Searcher.SecurityCode"/>
      <BootstrapInput @bind-Value="@Model.Searcher.ValidityPeriod"/>
      <WTDateRange @bind-Value="@Model.Searcher.CreateTime"/>
      <WTDateRange @bind-Value="@Model.Searcher.UpdateTime"/>
      <BootstrapInput @bind-Value="@Model.Searcher.CreateBy"/>
      <BootstrapInput @bind-Value="@Model.Searcher.UpdateBy"/>
    </Row>

  </ValidateForm>
</WTSearchPanel>


<Table @ref="CreditCardManageListVMdataTable" TItem="AmazonTools.ViewModel._Admin.CreditCardManageVMs.CreditCardManage_View" OnQueryAsync="CreditCardManageListVMOnSearchCreditCardManage" 
                IsStriped="true" IsBordered="true" ShowRefresh="false" ShowExtendEditButton="false" ShowExtendDeleteButton="false" 
                ShowToolbar="true" IsMultipleSelect="true" ShowExtendButtons="true"
                ShowDefaultButtons="false" IsPagination="true">
  <TableColumns>
    <TableColumn @bind-Field="@context.CreditCardManage_CreditCard" Text="@WtmBlazor.Localizer["Page.卡号"]" />
    <TableColumn @bind-Field="@context.CreditCardManage_SecurityCode" Text="@WtmBlazor.Localizer["Page.安全码"]" />
    <TableColumn @bind-Field="@context.CreditCardManage_ValidityPeriod" Text="@WtmBlazor.Localizer["_Admin.ValidDate"]" />
    <TableColumn @bind-Field="@context.CreditCardManage_CreateTime" Text="@WtmBlazor.Localizer["_Admin.CreateTime"]" />
    <TableColumn @bind-Field="@context.CreditCardManage_UpdateTime" Text="@WtmBlazor.Localizer["_Admin.UpdateTime"]" />
    <TableColumn @bind-Field="@context.CreditCardManage_CreateBy" Text="@WtmBlazor.Localizer["_Admin.CreateBy"]" />
    <TableColumn @bind-Field="@context.CreditCardManage_UpdateBy" Text="@WtmBlazor.Localizer["_Admin.UpdateBy"]" />
  </TableColumns>

  <RowButtonTemplate>
    @if (IsAccessable("/api/_Admin/CreditCardManage/Edit"))
    {
        <TableCellButton Size="Size.ExtraSmall" Icon="fa fa-pencil-square" Color="Color.Warning" Text="@WtmBlazor.Localizer["Sys.Edit"]"  OnClick="()=>OnEditClick(context)" />
    }
    @if (IsAccessable("/api/_Admin/CreditCardManage/{id}"))
    {
        <TableCellButton Size="Size.ExtraSmall" Icon="fa fa-info-circle" Color="Color.Info" Text="@WtmBlazor.Localizer["Page.详情"]"  OnClick="()=>OnDetailsClick(context)" />
    }
    @if (IsAccessable("/api/_Admin/CreditCardManage/BatchDelete"))
    {
        <PopConfirmButton OnConfirm="() => OnDeleteClick(context)" Size="Size.ExtraSmall" Icon="fa fa-trash" Color="Color.Danger" Text="@WtmBlazor.Localizer["Sys.Delete"]" Content="@WtmBlazor.Localizer["Sys.DeleteConfirm"]" CloseButtonText="@WtmBlazor.Localizer["Sys.Close"]" ConfirmButtonText="@WtmBlazor.Localizer["Sys.Delete"]" 
            ConfirmButtonColor="Color.Danger" />
    }
  </RowButtonTemplate>
  <TableToolbarTemplate>
    @if (IsAccessable("/api/_Admin/CreditCardManage/Create"))
    {
        <TableToolbarButton TItem="AmazonTools.ViewModel._Admin.CreditCardManageVMs.CreditCardManage_View" Icon="fa fa-plus" Color="Color.Primary" Text="@WtmBlazor.Localizer["Sys.Create"]"  OnClickCallback="(x)=>OnCreateClick()" />
    }
    @if (IsAccessable("/api/_Admin/CreditCardManage/BatchDelete"))
    {
        <TableToolbarPopConfirmButton TItem="AmazonTools.ViewModel._Admin.CreditCardManageVMs.CreditCardManage_View"
             Icon="fa fa-trash" Color="Color.Danger" Text="@WtmBlazor.Localizer["Sys.Delete"]" Content="@WtmBlazor.Localizer["Sys.BatchDeleteConfirm"]" CloseButtonText="@WtmBlazor.Localizer["Sys.Close"]" ConfirmButtonText="@WtmBlazor.Localizer["Sys.BatchDelete"]" 
            OnConfirm="@OnBatchDeleteClick" ConfirmButtonColor="Color.Danger"/>
    }
    @if (IsAccessable("/api/_Admin/CreditCardManage/BatchEdit"))
    {
        <TableToolbarButton TItem="AmazonTools.ViewModel._Admin.CreditCardManageVMs.CreditCardManage_View" Icon="fa fa-pencil-square" Color="Color.Primary" Text="@WtmBlazor.Localizer["Sys.BatchEdit"]"  OnClickCallback="(x)=>OnBatchEditClick()" />
    }
    @if (IsAccessable("/api/_Admin/CreditCardManage/Import"))
    {
        <TableToolbarButton TItem="AmazonTools.ViewModel._Admin.CreditCardManageVMs.CreditCardManage_View" Icon="fa fa-tasks" Color="Color.Primary" Text="@WtmBlazor.Localizer["Sys.Import"]"  OnClickCallback="(x)=>OnImportClick()" />
    }
    @if (IsAccessable("/api/_Admin/CreditCardManage/CreditCardManageExportExcel"))
    {
        <TableToolbarButton TItem="AmazonTools.ViewModel._Admin.CreditCardManageVMs.CreditCardManage_View" Icon="fa fa-arrow-circle-down" Color="Color.Primary" Text="@WtmBlazor.Localizer["Sys.Export"]" OnClickCallback="(x)=>OnExportClick()" IsAsync="true" />
    }
  </TableToolbarTemplate>

</Table>



@code {
    [Parameter]
    public string id { get; set; }
    [Parameter]
    public string[] ids { get; set; }
    private CreditCardManageListVM Model = new CreditCardManageListVM();
    private Table<AmazonTools.ViewModel._Admin.CreditCardManageVMs.CreditCardManage_View> CreditCardManageListVMdataTable;
    private async Task CreditCardManageListVMDoSearch()
    {
        await CreditCardManageListVMdataTable.QueryAsync();
    }
    private async Task<QueryData<AmazonTools.ViewModel._Admin.CreditCardManageVMs.CreditCardManage_View>> CreditCardManageListVMOnSearchCreditCardManage(QueryPageOptions opts)
    {
            
        return await StartSearch<AmazonTools.ViewModel._Admin.CreditCardManageVMs.CreditCardManage_View>("/api/_Admin/CreditCardManage/SearchCreditCardManage", Model.Searcher, opts);
    }
    private async Task OnCreateClick()
    {
        var id = CreditCardManageListVMdataTable.SelectedRows?.Select(x => x.ID.ToString())?.FirstOrDefault();
        if (await OpenDialog<Create>(@WtmBlazor.Localizer["Sys.Create"], x => x.id == (id ?? ""), isMax:false) == DialogResult.Yes)
        {
            await CreditCardManageListVMdataTable.QueryAsync();
        }
    }

    private async Task OnEditClick(AmazonTools.ViewModel._Admin.CreditCardManageVMs.CreditCardManage_View item)
    {
        if (await OpenDialog<Edit>(@WtmBlazor.Localizer["Sys.Edit"], x => x.id == item.ID.ToString(), isMax:false) == DialogResult.Yes)
        {
            await CreditCardManageListVMdataTable.QueryAsync();
        }
    }

    private async Task OnDetailsClick(AmazonTools.ViewModel._Admin.CreditCardManageVMs.CreditCardManage_View item)
    {
        if (await OpenDialog<Details>(@WtmBlazor.Localizer["Page.详情"], x => x.id == item.ID.ToString(), isMax:false) == DialogResult.Yes)
        {
            await CreditCardManageListVMdataTable.QueryAsync();
        }
    }

    private async Task OnDeleteClick(AmazonTools.ViewModel._Admin.CreditCardManageVMs.CreditCardManage_View item)
    {
        await PostsData(new List<string> { item.ID.ToString() }, $"/api/_Admin/CreditCardManage/batchdelete", (s) => "Sys.OprationSuccess");
        await CreditCardManageListVMdataTable.QueryAsync();
    }

    private async Task OnBatchDeleteClick()
    {
        if (CreditCardManageListVMdataTable.SelectedRows?.Any() == true)
        {
            await PostsData(CreditCardManageListVMdataTable.SelectedRows.Select(x => x.ID.ToString()).ToList(), $"/api/_Admin/CreditCardManage/batchdelete", (s) => WtmBlazor.Localizer["Sys.BatchDeleteSuccess", s]);
            await CreditCardManageListVMdataTable.QueryAsync();
        }
        else
        {
            await WtmBlazor.Toast.Information(WtmBlazor.Localizer["Sys.Info"], WtmBlazor.Localizer["Sys.SelectOneRowMin"]);
        }
    }

    private async Task OnBatchEditClick()
    {
        if (CreditCardManageListVMdataTable.SelectedRows?.Any() == true)
        {
            if (await OpenDialog<BatchEdit>(WtmBlazor.Localizer["Sys.BatchEdit"], x => x.ids == CreditCardManageListVMdataTable.SelectedRows.Select(x => x.ID.ToString()).ToArray(), isMax:false) == DialogResult.Yes)
            {
                await CreditCardManageListVMdataTable.QueryAsync();
            }
        }
        else
        {
            await WtmBlazor.Toast.Information(WtmBlazor.Localizer["Sys.Info"], WtmBlazor.Localizer["Sys.SelectOneRowMin"]);
        }
    }

    private async Task OnImportClick()
    {
        var id = CreditCardManageListVMdataTable.SelectedRows?.Select(x => x.ID.ToString())?.FirstOrDefault();
        if (await OpenDialog<Import>(@WtmBlazor.Localizer["Sys.Import"], x => x.id == (id ?? ""), isMax:false) == DialogResult.Yes)
        {
            await CreditCardManageListVMdataTable.QueryAsync();
        }
    }

    private async Task OnExportClick()
    {
        if (CreditCardManageListVMdataTable.SelectedRows?.Any() == true)
        {
            await Download("/api/_Admin/CreditCardManage/CreditCardManageExportExcelByIds", CreditCardManageListVMdataTable.SelectedRows.Select(x => x.ID.ToString()).ToList());
        }
        else
        {
            await Download("/api/_Admin/CreditCardManage/CreditCardManageExportExcel", Model.Searcher);
        }
    }

    
    protected override async Task OnInitializedAsync()
    {
        
        

        await base.OnInitializedAsync();
    }
}
