
@page "/_Admin/MailManage/Index"
@using AmazonTools.ViewModel._Admin.MailManageVMs
@using System.ComponentModel.DataAnnotations
@inherits BasePage
@attribute [ActionDescription("_Page._Admin.MailManage.Index", "AmazonTools._Admin.Controllers,MailManage")]

<WTSearchPanel OnSearch="@MailManageListVMDoSearch">
  <ValidateForm Model="@Model">
    <Row ItemsPerRow="ItemsPerRow.Three" RowType="RowType.Inline">
      <BootstrapInput @bind-Value="@Model.Searcher.Mail"/>
      <BootstrapInput @bind-Value="@Model.Searcher.PassWord"/>
      <WTDateRange @bind-Value="@Model.Searcher.CreateTime"/>
      <WTDateRange @bind-Value="@Model.Searcher.UpdateTime"/>
      <BootstrapInput @bind-Value="@Model.Searcher.CreateBy"/>
      <BootstrapInput @bind-Value="@Model.Searcher.UpdateBy"/>
    </Row>

  </ValidateForm>
</WTSearchPanel>


<Table @ref="MailManageListVMdataTable" TItem="AmazonTools.ViewModel._Admin.MailManageVMs.MailManage_View" OnQueryAsync="MailManageListVMOnSearchMailManage" 
                IsStriped="true" IsBordered="true" ShowRefresh="false" ShowExtendEditButton="false" ShowExtendDeleteButton="false" 
                ShowToolbar="true" IsMultipleSelect="true" ShowExtendButtons="true"
                ShowDefaultButtons="false" IsPagination="true">
  <TableColumns>
    <TableColumn @bind-Field="@context.MailManage_Mail" Text="@WtmBlazor.Localizer["_Admin.Email"]" />
    <TableColumn @bind-Field="@context.MailManage_PassWord" Text="@WtmBlazor.Localizer["_Admin.Password"]" />
    <TableColumn @bind-Field="@context.MailManage_CreateTime" Text="@WtmBlazor.Localizer["_Admin.CreateTime"]" />
    <TableColumn @bind-Field="@context.MailManage_UpdateTime" Text="@WtmBlazor.Localizer["_Admin.UpdateTime"]" />
    <TableColumn @bind-Field="@context.MailManage_CreateBy" Text="@WtmBlazor.Localizer["_Admin.CreateBy"]" />
    <TableColumn @bind-Field="@context.MailManage_UpdateBy" Text="@WtmBlazor.Localizer["_Admin.UpdateBy"]" />
  </TableColumns>

  <RowButtonTemplate>
    @if (IsAccessable("/api/_Admin/MailManage/Edit"))
    {
        <TableCellButton Size="Size.ExtraSmall" Icon="fa fa-pencil-square" Color="Color.Warning" Text="@WtmBlazor.Localizer["Sys.Edit"]"  OnClick="()=>OnEditClick(context)" />
    }
    @if (IsAccessable("/api/_Admin/MailManage/{id}"))
    {
        <TableCellButton Size="Size.ExtraSmall" Icon="fa fa-info-circle" Color="Color.Info" Text="@WtmBlazor.Localizer["Page.详情"]"  OnClick="()=>OnDetailsClick(context)" />
    }
    @if (IsAccessable("/api/_Admin/MailManage/BatchDelete"))
    {
        <PopConfirmButton OnConfirm="() => OnDeleteClick(context)" Size="Size.ExtraSmall" Icon="fa fa-trash" Color="Color.Danger" Text="@WtmBlazor.Localizer["Sys.Delete"]" Content="@WtmBlazor.Localizer["Sys.DeleteConfirm"]" CloseButtonText="@WtmBlazor.Localizer["Sys.Close"]" ConfirmButtonText="@WtmBlazor.Localizer["Sys.Delete"]" 
            ConfirmButtonColor="Color.Danger" />
    }
  </RowButtonTemplate>
  <TableToolbarTemplate>
    @if (IsAccessable("/api/_Admin/MailManage/Create"))
    {
        <TableToolbarButton TItem="AmazonTools.ViewModel._Admin.MailManageVMs.MailManage_View" Icon="fa fa-plus" Color="Color.Primary" Text="@WtmBlazor.Localizer["Sys.Create"]"  OnClickCallback="(x)=>OnCreateClick()" />
    }
    @if (IsAccessable("/api/_Admin/MailManage/BatchDelete"))
    {
        <TableToolbarPopConfirmButton TItem="AmazonTools.ViewModel._Admin.MailManageVMs.MailManage_View"
             Icon="fa fa-trash" Color="Color.Danger" Text="@WtmBlazor.Localizer["Sys.Delete"]" Content="@WtmBlazor.Localizer["Sys.BatchDeleteConfirm"]" CloseButtonText="@WtmBlazor.Localizer["Sys.Close"]" ConfirmButtonText="@WtmBlazor.Localizer["Sys.BatchDelete"]" 
            OnConfirm="@OnBatchDeleteClick" ConfirmButtonColor="Color.Danger"/>
    }
    @if (IsAccessable("/api/_Admin/MailManage/BatchEdit"))
    {
        <TableToolbarButton TItem="AmazonTools.ViewModel._Admin.MailManageVMs.MailManage_View" Icon="fa fa-pencil-square" Color="Color.Primary" Text="@WtmBlazor.Localizer["Sys.BatchEdit"]"  OnClickCallback="(x)=>OnBatchEditClick()" />
    }
    @if (IsAccessable("/api/_Admin/MailManage/Import"))
    {
        <TableToolbarButton TItem="AmazonTools.ViewModel._Admin.MailManageVMs.MailManage_View" Icon="fa fa-tasks" Color="Color.Primary" Text="@WtmBlazor.Localizer["Sys.Import"]"  OnClickCallback="(x)=>OnImportClick()" />
    }
    @if (IsAccessable("/api/_Admin/MailManage/MailManageExportExcel"))
    {
        <TableToolbarButton TItem="AmazonTools.ViewModel._Admin.MailManageVMs.MailManage_View" Icon="fa fa-arrow-circle-down" Color="Color.Primary" Text="@WtmBlazor.Localizer["Sys.Export"]" OnClickCallback="(x)=>OnExportClick()" IsAsync="true" />
    }
  </TableToolbarTemplate>

</Table>



@code {
    [Parameter]
    public string id { get; set; }
    [Parameter]
    public string[] ids { get; set; }
    private MailManageListVM Model = new MailManageListVM();
    private Table<AmazonTools.ViewModel._Admin.MailManageVMs.MailManage_View> MailManageListVMdataTable;
    private async Task MailManageListVMDoSearch()
    {
        await MailManageListVMdataTable.QueryAsync();
    }
    private async Task<QueryData<AmazonTools.ViewModel._Admin.MailManageVMs.MailManage_View>> MailManageListVMOnSearchMailManage(QueryPageOptions opts)
    {
            
        return await StartSearch<AmazonTools.ViewModel._Admin.MailManageVMs.MailManage_View>("/api/_Admin/MailManage/SearchMailManage", Model.Searcher, opts);
    }
    private async Task OnCreateClick()
    {
        var id = MailManageListVMdataTable.SelectedRows?.Select(x => x.ID.ToString())?.FirstOrDefault();
        if (await OpenDialog<Create>(@WtmBlazor.Localizer["Sys.Create"], x => x.id == (id ?? ""), isMax:false) == DialogResult.Yes)
        {
            await MailManageListVMdataTable.QueryAsync();
        }
    }

    private async Task OnEditClick(AmazonTools.ViewModel._Admin.MailManageVMs.MailManage_View item)
    {
        if (await OpenDialog<Edit>(@WtmBlazor.Localizer["Sys.Edit"], x => x.id == item.ID.ToString(), isMax:false) == DialogResult.Yes)
        {
            await MailManageListVMdataTable.QueryAsync();
        }
    }

    private async Task OnDetailsClick(AmazonTools.ViewModel._Admin.MailManageVMs.MailManage_View item)
    {
        if (await OpenDialog<Details>(@WtmBlazor.Localizer["Page.详情"], x => x.id == item.ID.ToString(), isMax:false) == DialogResult.Yes)
        {
            await MailManageListVMdataTable.QueryAsync();
        }
    }

    private async Task OnDeleteClick(AmazonTools.ViewModel._Admin.MailManageVMs.MailManage_View item)
    {
        await PostsData(new List<string> { item.ID.ToString() }, $"/api/_Admin/MailManage/batchdelete", (s) => "Sys.OprationSuccess");
        await MailManageListVMdataTable.QueryAsync();
    }

    private async Task OnBatchDeleteClick()
    {
        if (MailManageListVMdataTable.SelectedRows?.Any() == true)
        {
            await PostsData(MailManageListVMdataTable.SelectedRows.Select(x => x.ID.ToString()).ToList(), $"/api/_Admin/MailManage/batchdelete", (s) => WtmBlazor.Localizer["Sys.BatchDeleteSuccess", s]);
            await MailManageListVMdataTable.QueryAsync();
        }
        else
        {
            await WtmBlazor.Toast.Information(WtmBlazor.Localizer["Sys.Info"], WtmBlazor.Localizer["Sys.SelectOneRowMin"]);
        }
    }

    private async Task OnBatchEditClick()
    {
        if (MailManageListVMdataTable.SelectedRows?.Any() == true)
        {
            if (await OpenDialog<BatchEdit>(WtmBlazor.Localizer["Sys.BatchEdit"], x => x.ids == MailManageListVMdataTable.SelectedRows.Select(x => x.ID.ToString()).ToArray(), isMax:false) == DialogResult.Yes)
            {
                await MailManageListVMdataTable.QueryAsync();
            }
        }
        else
        {
            await WtmBlazor.Toast.Information(WtmBlazor.Localizer["Sys.Info"], WtmBlazor.Localizer["Sys.SelectOneRowMin"]);
        }
    }

    private async Task OnImportClick()
    {
        var id = MailManageListVMdataTable.SelectedRows?.Select(x => x.ID.ToString())?.FirstOrDefault();
        if (await OpenDialog<Import>(@WtmBlazor.Localizer["Sys.Import"], x => x.id == (id ?? ""), isMax:false) == DialogResult.Yes)
        {
            await MailManageListVMdataTable.QueryAsync();
        }
    }

    private async Task OnExportClick()
    {
        if (MailManageListVMdataTable.SelectedRows?.Any() == true)
        {
            await Download("/api/_Admin/MailManage/MailManageExportExcelByIds", MailManageListVMdataTable.SelectedRows.Select(x => x.ID.ToString()).ToList());
        }
        else
        {
            await Download("/api/_Admin/MailManage/MailManageExportExcel", Model.Searcher);
        }
    }

    
    protected override async Task OnInitializedAsync()
    {
        
        

        await base.OnInitializedAsync();
    }
}
